/** Outer Wrapper */
.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
    /* background-color: green; */
    width: 100%;
}

/** Inner Container for Sliding */
.carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px;
    gap: 20px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch !important;
    pointer-events: auto;
}

.carousel-container::before {
    width: 200px;
    height: 200px;
    display: block;
    /* background-color: blue; */
}


.carousel-container-mask {
    position: absolute;
    top:0;
    left:0;
    z-index:1;
    background: -webkit-linear-gradient(left, 
                rgba(250, 250, 250, 0.65) 0%, 
                rgba(0,0,0,0) 15%,
                rgba(0,0,0,0) 85%,
                rgba(250, 250, 250, 0.65) 100%
    );
    width: 100%;
    height: 500px;
    pointer-events: none;
}


.carousel-control {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 2;
    background-color: var(--theme-color);
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: white;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}


.carousel-control:hover {
    background-color: #18afa5;
}


.carousel-control.prev {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}




.carousel-control.after {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}



.carousel-container::-webkit-scrollbar {
    display: none;
}