.carousel-item-container {
    flex: 0 0 auto; 
    height: 300px;
    width: 400px;
    overflow: hidden;
    background-color: black;
    border-radius: 20px;
    color: white;
    justify-content: center;
    text-align: center;
    line-height: 300px;
}