

.container {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 20;
    justify-content: center;
    padding: 0px 30px 0px 30px;

    .headingContainer {
        font-size: 40px;
        width: 70%;
        color: white;
        height: 100px;
    }

    .subheadingContainer {
        color: white;
    }


    .buttonGroupContainer {
        display: flex;
        flex-direction: row;
        gap:20px;
        color: white;
        align-items: center;
        
        justify-content: space-between;
        height: 150px;

        .buttonContainer {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2px;
            background-color: var(--theme-color);
            border-radius: 10px;
            cursor: pointer;
            align-self: flex-end;
            padding: 6px;
            user-select: none;
            box-sizing: content-box;
    
            width: 250px;
            height: 80px;
            transition: background-color 0.2s ease-in-out , width 0.3s ease, height 0.3s ease;;

            &:hover {
                background-color: #16a399;
               
            }

            
            .upperContainer {
                display:flex;
                flex-direction: row;
                align-items: center;
                flex: 1;
                padding: 5px;
                justify-content: space-between;
                height: 50px;
                // width: 100px;
                
                
                .buttonText {
                    text-align: justify;
                    // white-space: nowrap; /* Prevent text from wrapping */
                    overflow: hidden; /* Hide overflow text */
                    text-overflow: ellipsis; /* Show ellipsis for overflow text */
                    font-size: 15px;
                    width: 80%;
                }
        
                .buttonImage {
                    width: 25px;
                    height:25px;
                }
            }

            .underContainer {
                height: 30px;
                line-height: 20px;
                display: flex;
                
                flex-direction: row;
                align-items: flex-end;
                justify-content: center;
                font-size: 10px;
                white-space: nowrap; /* Prevent text from wrapping */
                overflow: hidden; /* Hide overflow text */
                text-overflow: ellipsis; /* Show ellipsis for overflow text */

                .buttonText {
                    text-align: center;
                    text-wrap: wrap;
                    // align-self: flex-end;
                    
                }
            }

        }
        
    }


}


@media (max-width: 1024px) {
    
.container {



    .buttonGroupContainer {

      
        gap: 60px;

        .buttonContainer {
            width: 150px;
            height: 80px;
        }
    }
}
}