.container {
    display:flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
    // padding: 0px 10px 20px 30px;
    background-color: var(--theme-color);


    .navItemContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

       .navItemWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        .navItem {
            display: inline-block;
            position: relative;
            font-size: 16px; /* Adjust as needed */
            color: black;
            padding: 0px 20px 0px 20px;
            opacity: 1;
            font-size: 10px;
            // max-width: 80px;
            flex-wrap: nowrap;
            text-wrap: nowrap;


            &:hover {
                color: grey;
                cursor: pointer;
            }

            &:hover::after {
                width: 100%; /* Set the desired width on hover */
                left: 0; /* Keep it centered */
                transition: width 0.3s ease, left 0.3s ease; /* Add a transition effect */
            }


            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: -15px; /* Adjust distance from the text */
                left: 0;
                width: 0;
                height: 3px; /* Adjust thickness */
                background-color: grey; /* Adjust underline color */
            }
        }
    }


    }
    
    .detailPanelContainer {
        
    }
}




    
