.container {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    width: 100%;


    .leftContainer {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .topText {
            display:flex;
            flex-direction: column;
            gap: 10px;

            .titleDesc {
                color: var(--grey-900, #4F4F4F);
                font-feature-settings: 'liga' off, 'clig' off;

                /* Nunito / Semi / 20 */
                font-family: "Nunito Sans";
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 30px; /* 150% */
                letter-spacing: 0.5px;
            }

            .titleHeading {
                color: var(--black, #000);
                font-feature-settings: 'liga' off, 'clig' off;

                /* Nunito / Bold / 48 */
                font-family: "Nunito Sans";
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 1.5px;
                white-space: pre-wrap;
            }


            .titleText {
                width: 505px;
                color: var(--grey-900, #4F4F4F);
                font-feature-settings: 'liga' off, 'clig' off;
                font-family: "Nunito Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px; /* 187.5% */
                letter-spacing: 0.5px;
            }


            
        }

        .buttonGroup {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }


    }

    .rightContainer {
        width: 742px;
        height: 606px;
        // margin-left: 10px;
        flex-shrink: 0;
        position: relative;


        .img{
            width: 108%;
            height: 108%;
            object-fit: contain;
        }

        .imgFill{
            position: absolute;
            left: 119px;
            top: 70px;
            width: 85%;
            height: 85%;
            object-fit: contain;
        }

        
    }

    .bottomButton {
        position: absolute;
        width:430px;
        height: 55px;
        flex-shrink: 0;
        top: 110%;
        right: 20px;
    }
   
}