.image-container {
    overflow: hidden;
}


.image {
    width: 100%;
    height: 100%;

    /**
        1. contain: 不会充满，不会裁剪，保持比例
        2. cover: 会充满，会裁剪，保持比例
        3. fill: 会充满，可能会裁剪，不保持比例
    */
    object-fit: fill;
}