/* src/components/Card.module.less */

.card {
    width: 300px;
    height: 480px;
    border: 1px solid #ccc;
    position: relative;
    flex: 0 0 auto; 
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    // margin: 10px;
    user-select: none;
    cursor: pointer;

  
    .imageWrapper {
      height: 170px;
      flex-shrink: 0;

      .image {
        width: 100%;
        height: 100%;
        /** 
          1. contain: maintain aspect ratio, no clip, not fill the whole wrapper
          2. cover: maintain the aspect ratio, clipped to fill the whole wrapper
          3. fill: not maintain the aspect ratio, image resized to fill the whole wrapper.
        */
        object-fit: cover;
      }
    }

   
  
    .content {
      padding: 10px;
      height: 300px;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }

      .idDate {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // line-height: 12px;
        // font-size: 12px;
        color: #888;

        .id {
            font-size: 12px;
            font-weight: 1000;
        }

        .date {
          font-size: 12px;
        }
      }
  
      .title {
        height: 60px;
        font-size: 16px;
        font-weight: bold;
        margin: 10px 0;
      }
  
      .detailsList {
        font-size: 14px;
        color: #555;


        .listItem {

          display: flex;
          justify-content: space-between;


          .listLabel {
            font-size: 14px;
            font-weight: 1000;

          }
          .listDesc {

            font-size: 14px;
            font-weight: 350;
          }
        }
        div {
          margin: 5px 0;
        }
      }

      
    }

    .button {
      height: 85px;
      padding: 10px 40px;
    }
  
    .idDate {
      background-color: var(--theme-color);
      border-radius: 0px 0px 12px 12px;
      background: #F3F3F3;
      color: #878787;
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: "Nunito Sans";
      font-size: 5px;
      font-style: normal;
      font-weight: 300;
      line-height: 28px; /* 280% */
      letter-spacing: 0.5px;
      height: 30px;
      border: 1px solid #F3F3F3;
      border-radius: 0 0 8px 8px;
      cursor: pointer;
      text-align: center;
      transition: background-color 0.3s ease-in-out;
      position:relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 16px;
      padding: 0px 5px;
  
      // &:hover {
      //   background-color: #1ab0a6;
      // }

      // &::after {
      //   position: absolute;
      //   content:"❯";
      //   top:50%;
      //   transform: translateY(-50%);
      //   right: 15px;
      // }
    }
  }
  