.container {
    position: fixed;
    display: flex;
    gap: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top:0px;
    left:0px;
    gap: 16px;
    height: 65px;
    width: 100%;
    padding: 0px 30px 0px 30px;
    z-index: 1000;
    background-color: white;


    
    
    .menuIcon {
        display: none;
    }


    .leftContainer {
        display: flex;
        justify-content: flex-start;
        
        gap: 15px;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;


        .logoGroup {
            display: flex;
            flex-direction: row;
            gap: 25px;
            cursor: pointer;
    
            .logoText {
                display: flex;
                // flex-shrink: 0;
                flex-direction: column;
                justify-content: center;
                gap: 5px;
                width: 180px;
                text-wrap: wrap;
                font-size: 15px;
                align-items: flex-start;
                color: gray;
            }        
            
            .companyLogo {
                flex-shrink: 0;
                width: 40px;
                height: 40px;
                object-fit: cover;
            }
        }
    }

    .rightContainer {
        display: flex;
        // flex: 1;
        flex-direction: row;
        justify-content: end;
        gap: 50px;
        // width: 50%;
        align-items: center;


        .languageButton {
            padding-right:50px;
        }
    }
}

@keyframes btn-animation-tomove {
    from {
        width: 0;
        opacity: 1;

    }
    to {
        width: 100%;
        opacity: 0;
        
    }
}



@media (max-width: 1110px) {
    .container {
        .leftContainer {
            display: flex;
            justify-content: center;
            gap: 20px;
            align-items: center;
            align-self: stretch;
    
            .logoGroup {
                .logoText {
                    display: none;
                }        
                
                .companyLogo {
                    flex-shrink: 0;
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                }
            }
           
        }
    
    }
    
}



@media (max-width: 1024px) {
    .container {

        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        top:0px;
        left:0px;
        gap: 16px;
        margin: 0 auto;
        height: 65px;
        width: 100%;
        padding: 0px 30px 0px 30px;
        flex: 1 0 0;
        z-index: 1000;
        background-color: white;
        

        

    
        .leftContainer {
            display: flex;
            justify-content: center;
            gap: 20px;
            align-items: center;
            align-self: stretch;
    
            .logoGroup {
                .logoText {
                    display: none;
                }        
                
                .companyLogo {
                    flex-shrink: 0;
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                }
            }
           
        }
    
        .rightContainer {
            display: flex;
            flex: 1;
            flex-direction: row;
            justify-content: end;
            gap: 10px;
            width: 50%;
            align-items: center;
    
    
            .languageButton {
                padding-right:10px;
            }
        }
    }
    
}

@media(max-width: 768px) {
    .container {
        padding: 0px 30px 0px 20px;
        .menuIcon {
            display: block;
        }


       
        .leftContainer {
            gap: 15px;
            .logoGroup {
                .logoText {
                    display: inline-block;
                }        
                
                .companyLogo {
                    flex-shrink: 0;
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                }
            }
    
        }

        .rightContainer {
            display: flex;
            flex: 1;
            flex-direction: row;
            justify-content: end;
            gap: 10px;
            width: 50%;
            align-items: center;
    
    
            .languageButton {
                padding-right:0px;
            }
        }
    }
}


@media(max-width: 430px) {
    .container {
        justify-content: space-between;
        gap: 0px;


       
        .menuIcon {
            display: block;
        }

        .leftContainer {
            gap: 10px;  

            .logoGroup {
                display: flex;
                flex-direction: row;
                gap: 10px;
                cursor: pointer;
    
                .logoText {
                    width: 80px;
                    font-size: 10px;
                    text-wrap: wrap;
                }        
                
                .companyLogo {
                    flex-shrink: 0;
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                }
            }
        }

        .rightContainer {
            display: flex;
            flex: 1;
            flex-direction: row;

            gap: 10px;
            padding-right: 10px;
            width: 50%;
            align-items: center;
    
    
            .languageButton {
                padding-right:0px;
            }
        }
    }
}