.container {
  padding: 60px 0px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .title {
    text-align: start;
    font-size: clamp(16px, 4vw, 48px);
    font-weight: 800;
    margin-bottom: 60px;
    color: black;
    position: relative;

    &::after {
      position: absolute;
      bottom: -10px;
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      flex-shrink: 0;
      align-self: center;
      border-radius: 1px;
      background: #9C0404;
    }
  }


  .desktopContainer {
    display: flex;
  }

  .mobileContainer {
    display: none;
  }

}



@media (max-width: 430px) {
  .container {
    margin-top: 1px;
    padding: 60px 0px;
    background-color: white;
    width: 100%;


    .title {
      color: #000;
      text-align: center;
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: "Nunito Sans";
      font-size: clamp(25px, 8vw, 48px);
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 1.5px;
      padding-bottom: 20px;
      position: relative;
      text-wrap: nowrap;


    }


    .desktopContainer {
      display: none;
    }

    .mobileContainer {
      display: flex;
    }


  }
}